<div class="w-screen h-screen pt-10vh pb-20vh flex">
  <div class='w-full h-full overflow-hidden py-8'>
    <div data-carousel class='flex h-full cursor-pointer {{if hasRendered 'transition' 'invisible' }}'>

      {{#each photos as |photo index|}}

        <a {{action 'selectSlide' index}} data-carousel-image class='h-full max-w-90% mx-4 inline-block flex-no-shrink flex items-center'>
          <img src="{{photo}}" class='max-w-full max-h-full h-full w-auto shadow-stripe'>
        </a>

      {{/each}}

    </div>
  </div>
</div>
