<div class='carousel'>
  <div class='carousel-viewport'>

    {{#each photos as |photo index|}}
      <a {{action 'selectSlide' index}} class='carousel-slide'>
        <img src="{{photo}}" class='carousel-image'>
      </a>
    {{/each}}

  </div>
</div>
