<div class='carousel-viewport'>

  {{#each photos as |photo index|}}
    <a {{action 'selectSlide' index}} class='carousel-slide'>
      <div class="carousel-image-wrapper">
        <div style='background-image: url({{photo}})' class="carousel-image"></div>
      </div>
    </a>
  {{/each}}

</div>
